<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206254722054-khpavspqjvlc7i8o59hrur7vip97gs61.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206254722054-khpavspqjvlc7i8o59hrur7vip97gs61</string>
	<key>API_KEY</key>
	<string>AIzaSyAehizTyCROcW1NfSZXotzaS9o2OEHNu1s</string>
	<key>GCM_SENDER_ID</key>
	<string>206254722054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakubpajak.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-c22be</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-c22be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206254722054:ios:080f643f5dd3808ada4787</string>
</dict>
</plist>